.gallery{
    width: 100%;
    height: 100vh;
    // border: 1px solid purple;
    background-color: rgba(0, 0, 0, 0.192);
    .gallery-container{
        // border: 1px solid purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        // align-items: center;
        width: 100%;
        // border: 1px solid red;
        background-color: rgb(224, 224, 224);
        .header{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            font-size: 0.75em;
            color: rgb(32, 32, 32);
            width: 100%;
            font-size: 1em;
            // border: 1px solid red;
            background-color: rgb(161, 161, 161);
            .h1-search-container{
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .h1-container{
                    // border: 1px solid red;
                }
                .search-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height:40px;
                    // border: 2px solid red;
                    width: 400px;
                    input{
                        width: 65%;
                    }
                    button{
                        background-color: rgb(114, 114, 114);;
                        border: 2px solid white;
                        color:white;
                        width: 25%;
                        height: 100%;
                    }
                    button:hover{
                        background-color: white;
                        // border: 2px solid gray;
                        color:rgb(77, 77, 77);
                    }
                }
            }
        }
        .items-container{
            display: flex;
            justify-content: center;
            // border: 1px solid red;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                list-style: none;
                // width: 80%;
                // border: 1px solid red;
                li{
                    width: 300px;
                    height: 300px;
                    margin: 50px;
                }
            }
        }

    }
    .item{
        height: 100%;
        width: 100%;
        .item-container{
            height: 100%;
            width: 100%;
            background-color: white;
            border-radius: 4px;
            // border: 2px solid red;
            .item-details{
                position: absolute;
                width: 300px;
                height: 300px;
                // border: 2px solid purple;
                opacity: 0;
            }
            .item-details:hover{
                background-color: rgba(0, 0, 0, 0.849);
                opacity: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                transition: 200ms;
                font-size: 1.5em;
                a{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    color: goldenrod;
                    transition: 200ms;
                    cursor: pointer;
                }
            }
            .img{
                height: 80%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .description-container{
            
            display: flex;
            justify-content: center;
            // border: 1px solid purple;
            // padding-top: 10px;
            // padding-bottom: 10px;
            // background-color: rgb(243, 243, 243);
            color:white;
            .description{
                width: 90%;
                height: 100%;
                // border: 1px solid purple;     
                display: flex;               
                flex-direction: column;
                justify-content: center;
                #itemName{
                    color: rgb(73, 73, 73);
                    font-size: 1.2em;
                }
                #itemPrice{
                    font-size: 1.2em;
                    color: black;
                    font-weight: 700;
                }
            }
        }
    }
}
.item-not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.192);
    button{
        width: 200px;
        height: 50px;
        background-color: black;
        color:white;
        border: none;
        margin: 10px;
        font-weight: 700;
    }
    button:hover{
        background-color: white;
        color:black;
        border: 1px solid black;
    }
}

.item-details-container{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    .h1-container{
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 20px;
        // border: 1px solid red;
        font-size: 0.75em;
        color: rgb(32, 32, 32);
        width: 100%;
        font-size: 1em;
        // border: 1px solid red;
        background-color: rgba(0, 0, 0, 0.192);
        .h1-cart-container{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                a{
                    text-decoration: none;
                    color: black;
                }
                i{
                    font-size: 1.2em;
                    transition: 100ms;
                    padding-right: 10px;
                }
                i:hover{
                    color:white;
                }
        }
    }
    .page-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        // border: 11px solid red;
        background-color: rgba(128, 128, 128, 0.322);
        .details-container{
            width: 100%;;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // border: 11px solid red;
            height: 70%;
            .details{
                width: 50%;
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                // border: 1px solid red;
                .header{
                    // border: 1px solid red;
                    text-align: left;
                    font-size: 1.5em;
                }
                .price-container{
                    // border: 1px solid red;
                    width: 400px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    .amount{
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        input{
                            width: 40px;
                            text-align: center;
                        }
                        input[type=number]::-webkit-inner-spin-button, 
                        input[type=number]::-webkit-outer-spin-button { 
                            -webkit-appearance: none;
                            appearance: none;
                        }
                        button{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                            border: 2px solid rgb(211, 211, 211);
                            background-color: black;
                            color: white;
                            font-weight: 700;
                        }
                        button:hover{
                            background-color: white;
                            color: black;
                            border: 1px solid black;
                        }
            
                    }
                    .price{
                        width: 50%;
                        display: flex;
                        justify-content: center;
                    }
                }
                .checkout{
                    width: 400px;
                    // border: 1px solid green;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 20px;
                    button{
                        width: 50%;
                        height: 50px;
                        border: 2px solid rgb(211, 211, 211);
                        background-color: black;
                        color: white;
                        font-weight: 700;
                    }
                    button:hover{
                        background-color: white;
                        color: black;
                        border: 1px solid black;
                    }
                    button:focus{
                        outline: none;
                    }
                }
                .description{
                    width: 600px;
                    font-size: 1.2em;
                    margin-top: 40px;
                }
            }
            .img-container{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 1px solid red;
                .img{
                    // border: 1px solid red;
                    width: 400px;
                    height: 400px;
                    background-size: contain; 
                    background-position: center;
                }
            }
        }
        .recommended-items-container{
            width: 100%;
            // border: 1px solid red;
            height: 30%;
            background-color: rgba(87, 87, 87, 0.226);
            .h2-container{
                display: flex;
                align-items: center;
                height: 20%;
                padding-left: 20px;
            }
            .recommended-items{
                height: 80%;
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    list-style: none;
                    width: 100%;
                    height: 100%;
                    // border: 1px solid blue;
                    li{
                        height: 150px;
                        width: 150px;
                        // border: 1px solid red;
                        padding: 0;
                        .item{
                            height: 100%;
                            width: 100%;
                            .item-container{
                                position: relative;
                                height: 100%;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                background-color: white;
                                border: 1px solid rgb(180, 180, 180);
                                // border: 2px solid red;
                                padding: 0;
                                .item-details{
                                    position: absolute;
                                    top:0;
                                    width:100%;
                                    height: 100%;
                                    // border: 2px solid purple;
                                    margin: 0;
                                    opacity: 0;
                                }
                                .item-details:hover{
                                    background-color: rgba(0, 0, 0, 0.664);
                                    opacity: 1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: white;
                                    transition: 200ms;
                                    font-size: 1em;
                                    a{
                                        text-decoration: none;
                                        color: rgb(216, 216, 216);
                                        transition: 200ms;
                                    }
                                    a:hover{
                                        transition: 200ms;
                                        color:white;
                                        cursor: pointer;
                                    }
                                }
                                .img{
                                    height: 70%;
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    // border:1px solid red;
                                }
                                .description{
                                    height: 20%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    padding-left: 10px;
                                    // border: 1px solid purple;
                                    color:black;
                                    text-align: center;
                                }
                            }
                            // .item-container:hover{
                            //     background-color: rgb(0, 0, 0);
                            // }
                        }
                    }
                }
            }

        }
    }



}