*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
.container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-image: -webkit-repeating-linear-gradient(-45deg, rgb(0, 132, 255) , white 10%, red 15%, white 20%, rgb(0, 132, 255) 25%)
                                              
}
    section{
        height: 100vh;
        width: 100%;
        scroll-snap-align: start;
        .fade{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.589);

        }
        .container{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.664);
            color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        .header{
            display: flex;
            flex-direction: column;
        }
        .text{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .homeButtons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            button{
                width: 150px;
                height: 50px;
                background-color: transparent;
                color: white;
                border: 3px solid white;
                font-weight: 700;
                font-size: 1em;
                margin: 5px;
                transition: 300ms;
                span{
                    margin: 5px;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
            button:hover{
                color:black;
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                transition: 300ms;
                a{
                    color: black;
                }
            }
            button:focus{
                outline: none;
            }
            button:active{
                background-color: rgba(255, 255, 255, 0.787);
                border: none;
            }
        }
    }
    .servicesBlocks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.842);
        h2{
            color: black;
            font-size: 2em;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            height: 300px;
            width: 60%;
            padding: 10px;
            // border: 2px solid red;

            li{
                color: black;
                width: 280px;
                height: 280px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                // border: 2px solid red;
            }
        }
    }
    .flip-card {
        background-color: transparent;
        width: 280px;
        height: 280px;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 280px;
        height: 280px;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
        .imgContainer{
            margin-top: 20px;
            // border: 1px solid red;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 100%;
            }
            #product{
                height: 80%;
                width: 80%;
            }
        }
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: rgb(255, 255, 255);
        color: black;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .flip-card-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: rotateY(180deg);
        .card-back-fade{
            width: 100%;
            height: 100%;
            .content{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .text{
                    width: 80%;
                    height: 60%;
                    padding:0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.561);
                    font-size: 0.8em;
                }
                .button{
                    height: 30%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    button{
                        height: 50px;
                        width: 100%;
                        border: 2px solid white;
                        background-color: transparent;
                        color: white;
                        font-weight: 700;
                        font-size: 1em;
                        padding:10px;
                        cursor: pointer;
                        transition: 300ms;
                    }
                }
                p{
                    margin: 10px;
                    color: white;
                }
            }
        }
      }
    #home{
        -webkit-animation: fadein 2s;
        background-image: url("../../images/barber_shop.jpg");
        background-position: center;
        background-size: cover;

        h1{
            font-family: 'Permanent Marker', cursive;
            font-size: 4em;
            font-weight: 400;
        }
        h3{
            font-family: 'Permanent Marker', cursive;
            font-size: 2em;
            font-weight: 400;
        }
        p{
            font-size: 1.5em;
        }
    }

    #services{
        -webkit-animation: fadein 2s;
        background-image: url("../../images/services.jpg");
        background-position: center;
        background-size: cover;
        h1{
            font-size: 3em;
        }
        h3{
            font-size: 2em;
        }
        p{
            font-size: 1.5em;
        }
    }
    #about{
        -webkit-animation: fadein 2s;
        background-image: url("../../images/about.jpg");
        background-position: center;
        background-size: cover;
        .container{
            width: 100%;
            height: 70%;
            background-color: rgba(255, 255, 255, 0.856);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            .img-container{
                width: 80%;
                height: 90%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .img{
                    img{
                        height:100%;
                    }
                }
                .imgText{
                    background-color: rgba(255, 255, 255, 0.239);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: black;
                    h1{
                        font-size: 2em;
                    }
                    p{
                        padding: 20px;
                        font-size: 1.3em;
                    }
                }
            }
            .details{
                display: flex;
                flex-direction: column;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .reviews{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 40%;
                    color: black;
                    background-color: rgb(255, 255, 255);
                    h1{
                        font-size: 2em;

                    }
                    p{
                        width:80%;
                        margin: 10px;
                        text-align: center;
                    }
                    button{
                        height: 30px;
                        width: 70%;
                        border: 2px solid black;
                        background-color: transparent;
                        color: black;
                        font-weight: 700;
                        font-size: 1em;
                        padding:10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: 300ms;
                    }
                    button:hover{
                        color: white;
                        background-color: black;
                        border: 2px solid black;
                    }
                }
            }
        }
    }
    #menBack{
        background-image: url("../../images/meHairStyle.png");
        background-position: center;
        background-size: cover;
        .card-back-fade{
            background-color: rgba(0, 75, 195, 0.938);
        }
        button:hover{
            background-color: white;
            color: rgba(0, 75, 195, 0.931);
        }
    }
    #womenBack{
        background-image: url("../../images/womenHairStyle.jpg");
        background-position: center;
        background-size: cover;
        .card-back-fade{
            background-color: rgba(207, 4, 14, 0.87);
        }
        button:hover{
            background-color: white;
            color: rgba(207, 4, 14, 0.931);
        }
    }
    #productsBack{
        background-image: url("../../images/products.jpg");
        background-position: center;
        background-size: cover;
        .card-back-fade{
            background-color: rgba(255, 255, 255, 0.596);
            .text{
                background-color: rgba(0, 0, 0, 0.459);
                p{
                    color: rgb(255, 255, 255);
                }
            }
        }
        button{
            border: 2px solid black;
            color: black;
        }
        button:hover{
            background-color: black;
            color: white;
        }

    }
    #scroll{
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
        color: white;
        font-size: 1.5em;
    }
    #map{
        height: 50%;
        color: black;
        a{
            color: black;
            text-decoration: none;
        }
    }
    
