.book{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        height: 30%;
    }
    ul{
        height: 70%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        li{
            height: 50px;
            width: 100px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px solid black;
            .time-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .available{
            background-color: white;
            transition: 300ms;
        }
        .available:hover{
            background-color: rgb(137, 208, 255);
            color: white;
            cursor: pointer;
        }
        .available::selection{
            background-color: black;
            color: white;
        }
        .not-available{
            background-color: rgb(190, 190, 190);
            transition: 300ms;
        }
        .chosen-time{
            background-color: black;
            color:white;
        }
    }
}