nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    .listContainer{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.794);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 30%;
            li{
                :hover{
                    color: rgb(0, 162, 255);
                    cursor: pointer;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}